{{#each stories}}
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href={{link}}>{{headline}}</a>
		</div>
		<div class="row">
			<div class="col-md-2">
				<img src={{image}} width=150px height=100px>
			</div>
			<div class = "col-md-5">
				{{blurb}}
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 btn-group" role="group">
				<button type="button" class="btn btn-default" id="getComments">See Comments</button>
				<button type="button" class="btn btn-default" id="addComment">Add a Comment</button>
			</div>
		</div>
	</div>
{{/each}}